.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.App {
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  background: rgb(15,97,136);
  background: radial-gradient(circle, rgba(15,97,136,1) 0%, rgba(116,204,241,1) 80%, rgba(171,228,255,1) 100%); 
}

.table-outer-div{
  width: 75%;
  height: 65vh;
  overflow: hidden;
  border-radius: 30px;
  border: 2px solid #000;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.table-div{
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #ffffff;
  
}

.center-table {
  height: 65vh;
  display: flex;
  justify-content: center;
  width: 100%;
}



.search-bar {
  height: 5vh;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-search{
  height: 5vh;
  width: 33%;
  display: flex;
  justify-content: left;
  align-items: center;
}

.title-div{
  height: 5vh;
  width: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-name{
  font-family: Brush Script MT;
  font-size: 70px;
  font-weight: bold;
}

.right-search{
  height: 5vh;
  width: 33%;
  display: flex;
  justify-content: right;
  align-items: center;
}

.searchBox{
  width: 240px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 20px;
  box-sizing: border-box;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
  background: #fff;
}



.manual-input-div{
  height: 13vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  max-width: 100%;
  overflow: hidden;
  flex-wrap: wrap; 
  
}

.manual-box{
  display: flex;
  flex-direction: column;
  height: 13vh;
  width: 70%;
  border-style: solid;
  border-width: 1px;
  border-radius: 20px;
  background-color: #d2d2d2;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.manual-input{
  width: 240px;
  padding: 6px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 20px;
  box-sizing: border-box;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
  background: #fff;
}

.textAdd{
  font-weight: bold;
  font-size: 20px;
  margin-top: 5px;
}

.button-add{
  height: 30px;
  width: 80px;
  border-radius: 20px;
  border: 4px double;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
  
}



/* Additional styling for the table if needed */
table {
  border-collapse: collapse;
  /* Add other styles as needed */
}
.bold-cell {
  font-weight: bold;
}

  